@charset"utf-8";
* {
margin:0;
padding:0;
font-size:12px;
}
body {
	
	background-color:#f5f5f5;

}
figure{position:relative;width:100%;overflow:hidden;float:left;}
figcaption{position:absolute;top:0px; left:0px; color:#fff;font-family:"微软雅黑";}
.top {
width:100%;
height:27px;
background:url(../img/top_bg.jpg) repeat-x;
}
.top_content{
	width:100%;
	margin:0 auto;
	
}
.top_content li{
	list-style-image:url(../img/li_bg.gif);
	
	width:70px;
	}
.top_content a:link,.top_content a:vistited{
	color:#8e8e8e;
	text-decoration:none;}

.top_content a:hover,top_content a:active{
	color:#900;
	text-decoration:none;
	}

.wrap {
width:80%;
margin:0 auto;
}

.logo {
height:80px;
background-color:#fff;
}

.logo_left {
width:200px;

}
.logo_right {
width:300px;

height:28px;
margin-top:30px;
color:#8e8e8e;
}
.logo_right img {
 vertical-align:middle;
 margin-right:10px;
       
}
.tel {
font-family:"微软雅黑";
font-size:16px;
color:#c00;
}


.main{
	
	background-color:#FFF;
	margin-top:5px;
	}
.news{
	
	border:1px solid #e8e8e8;
	
	}
.course{
	
	border:1px solid #e8e8e8;
	margin:0 7px;
	
}
.sidebar{
	
	border:1px solid #e8e8e8;
	
	
	}
.news,.course,.sidebar{
	
	
	float:left;}
.title{
	
	height:35px;
	border-bottom:2px solid #e8e8e8;
	}
.title_left{
	margin-top:10px;
	width:80%;
	font-family:"微软雅黑";
	font-size:14px;
	font-weight:bold;
	color:#786f66;
	float:left;
	
	padding-left:20px;
	}
.title_right{
	
	width:20%;
	float:right;
	line-height:35px;
	text-align:right;
	padding-right:10px;}

.title_right a{
	text-decoration:none;
	color:#999999;
	
	}
.pic_news{
	height:80px;
	margin-top:10px;
	line-height:22px;
	}
.pic_news img,.course_pic img{
	float:left;
	margin:0 5px;
	}
.pic_news a,.course_pic a
{
	color:#c00;
	text-decoration:none;
	}

.news_list{
	margin-top:20px;
	}

.news_list li{
	
	list-style-type:none;
	background:url(../images/list.jpg) no-repeat;
	padding-left:10px;
	margin:8px;
	border-bottom:1px dotted #ccc;
	}
.news_list a:link,.news_list a:visited{
	
	text-decoration:none;
	color:#000;}
.news_list a:hover,.news_list a:active{
	
	text-decoration:none;
	color:#f00;
	}
.news_list.news_list span{
	color:#999;
	float:right;}

.course_pic{
	
	margin-top:10px;
	line-height:22px;
	}
.course_type{
	
	height:37px;
	background:url(../images/type_bg.png) no-repeat;
	margin:20px auto;}
	
.course_type li{
	
	list-style-type:none;
	float:left;
	line-height:37px;
	margin:0 10px;
	text-align:center;}
.course_type li a{
	color:#c00;
	text-decoration:none;
	}

.video{
	
	border:1px solid #e8e8e8;
	}


.sidebar_ad{
	width:100%;
	border:1px solid #e8e8e8;
	margin-top:10px;}

.tuijian_title{
	
	color:#F00;
	font-family:"微软雅黑";}

figure{position:relative;width:100%;overflow:hidden;float:left;}
figcaption{position:absolute;top:0px; left:0px; color:#fff;font-family:"微软雅黑";}
figure img{opacity:0.8; transition:all 0.35s;}
figure figcaption p{transition:all 0.35s;}
.img1{
	background-color:#2f0000;
	margin-top:2px;}
.img1 figcaption p{background:#FFF;color:#00F;margin:3px;text-align:center; transform:translate(-300px,0px)}
.img1 figcaption{padding:5px;}
.img1 figcaption p:nth-of-type(1){transition-delay:0.05s;}
.img1 figcaption p:nth-of-type(2){transition-delay:0.1s;}
.img1 figcaption p:nth-of-type(3){transition-delay:0.15s;}
.img1:hover figcaption p{
	transform:translate(0px,0px);
	
}

.img1:hover img{
	-webkit-transform:scale(1.5,1.5);
    -moz-transform:scale(1.5,1.5);
    -transform:scale(1.5,1.5);}











.copyright{
	
	width:100%;
	height:150px;
	background-color:#e8e8e8;
	margin-top:10px;
	clear:both;
	}
.copyright_content{
	
	width:1000px;
	margin:0 auto;
	padding-top:20px;
	}

.copyright_content li{
	
	list-style-type:none;
	float:left;
	width:200px;
	background:url(../images/line.png) no-repeat right center;
	text-align:center;
	line-height:30px;
	font-family:"微软雅黑";
	
	}
.copyright_content a{
	
	text-decoration:none;
	color:#999;
	font-size:18px;}

.copyright_content li ul li a{
	font-size:14px;
	}

.list_main{
	min-height:350px;
	_height:350px;
	background-color:#fff;
	margin-top:10px;
	}
.news_type{
	width:220px;
	height:350px;
	border:1px solid #e8e8e8;
	
	float:left;
	}
.list_box{
	width:770px;
	min-height:350px;
	_height:350px;
	
	border:1px solid #e8e8e8;
	float:right;}
.news_type h2{
	
	height:35px;
	line-height:35px;
	font-family:"微软雅黑";
	color:#666;
	background:url(../images/titile_bg.gif) repeat-x;
	padding-left:10px;
}
.news_type_content{
	height:365px;
	background:url(../images/content_bg.gif) repeat-x;
	}

.news_type_content li{
	list-style-type:none;
	height:30px;
	line-height:30px;
	}
.news_type_content li a{
	color:#666;
	text-decoration:none;
	background:url(../images/li_bg.gif) no-repeat left center;
	padding-left:10px;
	display:block;
	}
.news_type_content li a:hover{
	color:#009cdf;
	background:url(../images/li_bg2.gif) no-repeat left center;
	background-color:#F2f2f2;}


.list_box h2{
	font-size:14px;
	font-family:"微软雅黑";
	color:#666;
	height:35px;
	line-height:35px;
	background:url(../images/type_bg.png) repeat-x;
	padding-left:20ox;

	}
.page{
	height:40px;
	margin-top:10px;
	text-align:center;
	}
.page a{
	display:inline-block;
	border:1px solid #e8e8e8;
	text-decoration:none;
	margin:5px;
	padding:5px 10px;}
.page a:link,.page a:visited
{
	color:#000;
	
	}
	.page a:hover,.page a:active
{
	color:#fff;
	background-color:#cc1b1b;
	
	}




